header {
    background: #212020;
    color: white;
    padding: 10px;
}
.teamrow {
    display: flex;
    justify-content: center;
    margin: 40px;
}
.card {
    background: #0ad5c8;
    border: 2px solid #a0a0b3;
    border-radius: 6px;
    width: 250px;
    padding: 15px;
}
h3 {
    font-size: 16px;
    font-weight: normal;
    color: #e1d8d8;
}
footer {
    background: #1a1919;
    color: rgb(255, 255, 255);
    padding: 8px;
    margin-top: 250px;
    }