header {
    background: #212020;
    color: white;
    padding: 10px;
}
.teamrow {
    display: flex;
    justify-content: center;
    margin: 40px;
}
.card {
    background: #b7a9a9;
    border: 2px solid #b3a0a0;
    border-radius: 6px;
    width: 250px;
    padding: 15px;
}
h3 {
    font-size: 16px;
    font-weight: normal;
    color: #282525;
}
footer {
    background: #1a1919;
    color: white;
    padding: 8px;
    margin-top: 250px;
    }