body{
    background-color: black;
    display:flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
}
.display{
        background: #000;
        color: rgb(16, 159, 231);
        font-size: 2em;
        text-align: right;
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 15px;
        width: 100%;
        box-sizing: border-box;
}
.calculator{
    background-color: orange;
    padding: 20px;
    border-radius: 5px;
    alignment-baseline: center;
    width: 260px;

}
.btn-container{
    display:grid;
    grid-template-columns:repeat(4,1fr) ;
    gap: 10px;
    width:100%;

}
.button{
    background-color: rgb(241, 62, 62);
    font-size: 1.2em;
    color: antiquewhite;
    border-radius: 5px;
    padding:15px;
}
.button:hover{
    background-color: gray;

}
